__pycache__/
*.pyc
connections.ini

.DS_Store
.vscode/
dist/
build/
build-macos/
build-linux/
build-windows/
*.spec
.tools/
AppDir/
ccodex-linux
ccodex.macos
scripts/collect-artifacts
scripts/recopila.sh

.release-artifacts/
buildall-logs/
prompts/260401-01.txt
claude.mmela
prompts/nodos-id.txt
